/home/server1/data/data1
/home/server1/data/data2
/home/server1/data/data3
/home/server1/data/data4
/home/server1/data/data5
/home/server1/data/data6
/home/server1/data/data7
/home/server1/data/data8
/home/server1/data/data9
/home/server1/data/data10
/home/server1/data/data11
/home/server1/data/data12
/home/server1/data/data13
/home/server1/data/data14
/home/server1/data/data15
/home/server1/data/data16
/home/server1/data/data17
/home/server1/data/data18
/home/server1/data/data19
/home/server1/data/data20
/home/server1/data/data21
/home/server1/data/data22
/home/server1/data/data23
/home/server1/data/data24